@model RavenDBInFiveMinutes.Website.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>Movie</legend>
    
        <div class="display-label">Title</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
    
        <div class="display-label">Description</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
    
        <div class="display-label">ReleaseDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ReleaseDate)
        </div>
    
        <div class="display-label">Genre</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Genre)
        </div>
    
        <div class="display-label">Director</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Director)
        </div>
    
        <div class="display-label">Writer</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Writer)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
